<div class="col-md-8 mx-auto" style="margin-left: 142px; margin-top: 30px;" *ngFor="let animal of park.parkAnimals">
    <div class="row align-items-center event-block no-gutters margin-40px-bottom">
        <div class="col-lg-7 order-2 order-lg-1">
            <div class="padding-60px-lr md-padding-50px-lr sm-padding-30px-all xs-padding-25px-all">
                <h5 class="margin-15px-bottom md-margin-10px-bottom font-size22 md-font-size20 xs-font-size18 font-weight-500">
                    <span class="text-theme-color">{{animal.name}}</span>
                </h5>
                <p>{{animal.description}}</p>
                <i class="fas fa-long-arrow-alt-right margin-10px-left"></i>
                <div class="row align-items-center">
                    <div class="col-2">
                        <button (click)="deleteAnimal(animal._id)" type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title data-original-title="Favorite">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title data-original-title="Compare">
                            <a  style="color:#818a91;" [routerLink]="[animal._id,'update-animal']">
                                <i class="fa fa-edit"></i>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2">
            <div class="position-relative">
                <img [src]="animal.picture" class="fixed-size-image">
            </div>
        </div>
    </div>
</div>

<!-- Floating Button -->
<a href="#" class="btn btn-primary floating-button rounded-circle" [routerLink]="['create-animal']">
    <i class="fa fa-plus fa-2x"></i>
</a>

<div class="d-flex justify-content-center">
    <ul class="pagination mt-3 mb-0">
        <li class="disabled page-item"><a href="#" class="page-link">‹</a></li>
        <li class="active page-item"><a href="#" class="page-link">1</a></li>
        <li class="page-item"><a href="#" class="page-link">2</a></li>
        <li class="page-item"><a href="#" class="page-link">3</a></li>
        <li class="page-item"><a href="#" class="page-link">4</a></li>
        <li class="page-item"><a href="#" class="page-link">5</a></li>
        <li class="page-item"><a href="#" class="page-link">›</a></li>
        <li class="page-item"><a href="#" class="page-link">»</a></li>
    </ul>
</div>
